# NOTE: not used by CI (yet), only here for local usage during development
[run]
branch = True
omit = Mopy/bash/tests/*

[report]
exclude_lines =
    # Re-enable the standard pragma since we're overriding exclude_lines
    pragma: no cover

    # __repr__s are often debug-only, so ignore those
    def __repr__

    # Ignore defensive exceptions that will likely never be raised during tests
    raise (exception\.)?AbstractError
    raise NotImplementedError

[html]
directory = .cov_html
