# svn
.svn/

# binaries
*.pyc
*.pyo
__pycache__/
*.exe

# tmp
*.log
*.patch
*.diff
*.tmp

# the user ini
Mopy/bash.ini

# the shortcuts in the Mopy/App folder
Mopy/Apps/*.lnk

# Windows etc
desktop.ini
.dropbox
.DS_Store

# Release archives.
scripts/dist/*.7z

# Local NSIS
scripts/build/nsis/

# Deploy
scripts/deploy/

# translation files
Mopy/bash/l10n/*.mo
Mopy/bash/l10n/*NEW.txt

# IDE files
.idea/
.vscode/
# if a symlink
.idea
.vscode

# The LOOT API binaries
Mopy/loot_api.*
Mopy/loot_api_python.pdb
Mopy/README.md
