# svn
.svn/

# binaries
*.pyc
*.pyo
__pycache__/
*.exe

# tmp
*.log
*.patch
*.diff
*.tmp

# the user ini
Mopy/bash.ini

# the shortcuts in the Mopy/App folder
Mopy/Apps/*.lnk

# Windows etc
desktop.ini
.dropbox
.DS_Store

# Build-related folders
scripts/build/standalone/dist/
scripts/build/standalone/temp/
scripts/dist/

# Local NSIS
scripts/build/nsis/

# Local redistributables
Mopy/redist/

# translation files
Mopy/bash/l10n/*.mo
Mopy/bash/l10n/*NEW.po

# IDE files
.idea/
.vscode/
# if a symlink
.idea
.vscode

# pytest-cov
.coverage
.cov_html/

# Minimal LOOT masterlists - stored locally & updated manually
Mopy/taglists/
scripts/taginfo.txt
