# This file contains only the development/compile-time dependencies.
# Used by the CI when it wants to install depedencies for scripts without
# pulling in the tons of extra stuff from requirements.txt.
isort==5.13.2
pyfiglet==1.0.2
pygit2==1.14.1
PyGithub==2.2.0
pyinstaller==6.5.0
pytest==8.1.1
