# Runtime, required
chardet==3.0.4
lz4==2.2.1
pywin32==224
PyYAML==5.3.1
wxPython==4.0.7.post2
# Runtime, recommended
scandir==1.10.0
# Compile/Build-time
https://bintray.com/loot/snapshots/download_file?file_path=libloot-python-4.0.2-13-g01a8567_fix-logging-gil-python2.7-win32.zip
pygit2==0.28.2
pyfiglet==0.8.post1
pytest==4.6.11
https://github.com/wrye-bash/dev-tools/raw/master/wheels/py2exe-0.6.9-cp27-cp27m-win32.whl
toml==0.10.1
