# Runtime, required
chardet==4.0.0
lz4==4.0.0
pywin32==303
PyYAML==6.0
wxPython==4.1.1
# Runtime, recommended
lxml==4.8.0
PyMuPDF==1.19.5
# Compile/Build-time
pygit2==1.9.0
pyfiglet==0.8.post1
pyinstaller==4.9
pytest==7.0.1
tomli==2.0.1
