# This file contains only the development/compile-time dependencies.
# Used by the CI when it wants to install depedencies for scripts without
# pulling in the tons of extra stuff from requirements.txt.
isort==6.0.1
pygit2==1.18.0
PyGithub==2.6.1
# PY3.13: try upgrading again & testing if restoring from backup still crashes
pyinstaller==6.9.0
pytest==8.4.1
