/********************
* Extracted Inlines
********************/

/* Figure Captions */
.screenshots-overview-figcap, .people-overview-figcap {
  padding-top: 41.6875rem;				/* 640px */
}
.launchers-hide-figcap {
  padding-top: 5.9375rem;			/* 95px */
}
.tools-settings-figcap {
  padding-top: 24rem;				/* 400px */
}
.tools-docs-figcap {
  padding-top: 34.5rem;			/* 520px */
}
.tools-checker-figcap {
  padding-top: 38.5rem;
}

/* Tables */
.people-pairs > * {
  max-width: 49%;
}
#people-commands {
  margin-right: -100%;
  padding-left: 1.0625rem;		/* 17px */
}
.people-symbols-table img {
  min-width: auto;
}
.people-symbols-p {
  margin-top: 0;
}
.tools-colors-table {
  max-width: 98%;
}

/* Consistency Formatting */
.people-tabpad {
  margin: 0;
  margin-bottom: 1rem;			/* 16px */
}
.international-format-cdebox {
  width: 25rem;					/* 400px */
}
code.box {
  display: table;
  line-height: 1.25rem;			/* 20px */
  margin: 0.875rem 0 0 1.125rem;	/* T:14px R:0 B:0 L:18px */
  padding: 0.3125rem 0.625rem;	/* TB:5px RL:10px */
  white-space: pre;
}
