/********************
* Main Overrides
********************/

li {
  margin-bottom: 0.1875rem;		/* 3px */
}
.JS-on #fade, .JS-on .navhead, .JS-on #spantest {
  display: none;
  visibility: hidden;
}


/********************
* Extracted Inlines
********************/

/* Text Formatting */
.history-veranc {
  font-size: 1rem;				/* 16px */
  font-style: italic;
  font-weight: bold;
  margin-top: 1.875rem;			/* 30px */
}
.v295_1-gmemng {
  color: rgba(165, 42, 42, 1);
}
