name: Close PR
on: pull_request_target
jobs:
  close:
    runs-on: ubuntu-latest
    steps:
    - uses: dessant/repo-lockdown@v3
      with:
        github-token: ${{ github.token }}
        pr-comment: >
          Thank you for your contribution! However, we do not use pull
          requests in this repository. Please see our
          [Contributing.md](https://github.com/wrye-bash/wrye-bash/blob/dev/Contributing.md#contributing-code)
          document for instructions on how to contribute code.
        lock-pr: false
        process-only: prs
