name: Wrye Bash CI

on: push

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout commit
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        architecture: 'x64'
    - name: Restore dependencies cache
      uses: actions/cache@v2
      with:
        path: ~\AppData\Local\pip\Cache
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install -U pip setuptools wheel
        python -m pip install -r requirements.txt
    - name: Build Wrye Bash
      # Note the configs - needed for build.py
      run: |
        git config --local user.name "GitHub Actions"
        git config --local user.email "github-action@users.noreply.github.com"
        python scripts/build.py --verbose
    - name: Test Wrye Bash
      run: |
        python -m pytest
